.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #cacaca;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    white-space: nowrap;
}

.form ul {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.form ul li a {
    font-size: 20px;
    background-color: var(--button2);
    padding: 10px 50px;
}

.form ul li.active a,
.form ul li a:hover {
    background-color: #932c37;
}

.card-title {
    color: var(--mainColor);
}

.btns {
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

}

select {
    padding: 10px 20px;
    border-radius: 100px;
    outline: none;
    border: 0;
}


.back {
    width: fit-content;
    position: absolute;
    top: 5%;
    left: 5%;

}

.back i {
    font-size: 40px;
}


.card-group {
    display: flex;
    height: 320px;
}

.card-group .card {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    width: 250px;
    height: 320px;

}

.card-group img {
    height: 80%;
}

.btns {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    padding: 20px 0;
}

button {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #0b54c3;
}

button:first-child {
    background-color: #ff96a7;
}

button:last-child {
    background-color: #cc3333;
}

button:last-child:hover {
    background-color: #db4c5a;
}

button:first-child:hover {
    background-color: #ed718b;
}

.loader {
    margin: 300px auto;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    border: 4px solid;
    border-color: #ed718b #ed718b transparent transparent;
    border-radius: 100px;
    animation: rotation 2s infinite linear;
    display: flex;
    justify-content: center;
}

.background {
    width: 100%;
    height: 100%;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.4;
    display: none;
}

.loader::before {
    content: "";
    width: 70px;
    height: 70px;
    border: 4px solid;
    border-color: transparent transparent #ed718b #ed718b;
    border-radius: 100px;
    animation: left 1s infinite linear;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }

}

@keyframes left {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }

}
